body {
  font-family: sans-serif;
  background-color: #ffffe0;
}

header {
  display: flex;
  justify-content: space-between;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#startBtn {
  color: black;
  background-color: lightgray;
  padding: 15px;
}

.question-block {
  display: flex;
  flex-direction: column;
  padding: 0;
}

button {
  display: flex;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 7px;
  /* border-radius: 6px; */
}

ol {
  padding: 0px;
}

li {
  margin-bottom: 10px;

}